body {
  background-color: #8599ad;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
  margin-top: 15em;
}

.icon {
  height: 40px;
}

h1 {
  font-size: 50px;;
}

h2 {
  font-size: 30px;;
}

a {
  color: #8599ad;
}
